.page-main {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}

p {
    margin: 0;
    text-indent: 3ch;
    text-align: justify;
}

figure {
    border: none;
    border-width: 1px;
    width: inherit;
    margin-left: 0;
    text-align: center;
}